
:root {
  --prim: #ff006e;
  --sec: #ffbe0b;
  --tern: #fb5607;
  --quad: #8338ec;
  --pent: #3a86ff;
}


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.description {
  font-weight: 800; /* Equivalent to font-extrabold */
  color: #6b46c1;
}

/* Styles for the text with a gradient effect */
.title {
  font-weight: 800;
  font-size: 3rem; /* Equivalent to text-5xl */
  background: linear-gradient(to right, var(--sec) , var(--prim) , var(--tern));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}



